/*Backgrounds*/
$background-gray: #E3E3E3;
$bg-gray-light: lighten($background-gray,5%);
$bg-gray-darken: darken($background-gray,40%);
/*Colores*/
$color-republica: #C00101;
$color-white: #FFFFFF;
$color-black: #000000;
/*Others*/
$radius: 5px;
