@import "_variables";
@import "_mixins";

/*General*/
body {
	font-family: PT Sans;
	font-size: 16px; 
}

.container {
	width: 80%;
}

/*HEADER*/
header{

    .publicidad{
        background-color: $bg-gray-light;
        padding: 1%;
        @include fWeight(bold);
        font-size: 0.8em; 
    }
    
    .banner{
        width: 100%;
    }
    
    .cizquierda{
        padding:1.5% 0 0 0;
    }
    
    .cderecha{
        text-align: right;
        padding:1% 0 0 0;
    }
    
    .otrosDiarios a{
		color: $bg-gray-light;
		@include fWeight(bold);
		margin-right: 1%;
		text-decoration: none;
	}

	#btn-suscribe{
		background-color: $color-republica;
		@include boton(5px);
		font-size: 1em;
		padding: 0% 3%;
	}

	.headerIconos{
		display: inline;
		margin: 0 1.5%;
		.ifb{
			@include redesIcons (#00468C);
		}
		.itw{
			@include redesIcons (#009BCE);
		}
		.igmail{
			@include redesIcons (#9B0505);
		}
		.imsj{
			@include redesIcons (#FFC92E);
		}
		.irs{
			@include redesIcons (#FFA515);
		}
	}

	.buscador{
		display: inline-block;
		@include borders(0px, 0.5px, 0.5px, 0px, $bg-gray-darken, $bg-gray-darken, $bg-gray-darken, $bg-gray-darken);
		padding:0 1%;

		input{
			background-color: transparent;
			border:none;
			width: 80%;
		}

		a .ilupa{
			color: gray;
			margin-right: 3%;
		}
	}

	.editorial-header{
		.logo-republica{
			padding-top: 11%;
		}

		.miniatura-columna-diaria{
			background-color: white;
			@include borders (1px, 1px, 1px, 3px, $bg-gray-darken, $bg-gray-darken, $bg-gray-darken, $color-republica);
			height: 55px;
			margin-top: 10%;
			margin-bottom: 5%;
			@include fWeight(bold);
			text-align: center;
		}

		.miniatura-columna-diaria p {
			padding-top: 9%;
			font-size: 13px;
		}

		.titulo-miniatura {
			color: $color-white;
			background-color: $color-republica;
			height: 19px;
			width: 30%;
			margin: -4% 35%;
		}

		.seccion-editorial  {
			background-color: #111417;
			position: relative;
			margin-top: 28px;
		}

		.miniatura-editorial{
			background-color: $color-white;
			@include borders (1px, 1px, 1px, 1px, $bg-gray-darken,$bg-gray-darken, $bg-gray-darken,$bg-gray-darken);
			border-top-left-radius: 40px;
			border-bottom-left-radius: 40px;
			height: 55px;
			@include fWeight(bold);
			text-align: center;
			
			dfn{
				font-size: 14px;
			}

			a{
				text-decoration: none;
				color: $color-black;
			}

			a:hover{
				text-decoration: underline;
				color: $color-black;
			}
		}
		
		.editorial-columna {
			position: absolute;
			top: 5%;
		}
		.autor-columna {
			position: absolute;
			top: -8%;
			left: 87%;
		}
	}
	.nav-tabs {
		font-family: Oswald;
		background-color: $color-republica;

		li > a {
			color: $color-white;
			font-size: 0.9em;
			margin: 0px;
			text-transform: uppercase;
		}
		li > a:hover {
			background-color: #E91717;
			border: none;
		}
		li.active > a {
			background-color: #113673;
			border: none;
			color: $color-white;
		}

		.champions{
			padding: 11.5%;
		}
	}
	
	.tema-dia {
		padding: 0;
		margin: 5px 0px;	
	}
	.tema {
		background-color: $color-black;
		border-radius: 5px 0px 0px 5px;
		padding: 1.2% 0%;
		text-align: center;
	}

	.tm-title {
		font-family: Oswald;
		color: $color-white;
		margin-bottom: 0;
		font-size: 0.8em;
	}

	.lista {
		background-color: $bg-gray-light;
		border-radius: 0px 5px 5px 0px;
		text-align: center;
		padding: 1% 0%;

		a {
			color: $color-black;
			padding: 0% 1%;
		}
	}
	
	.banner-header {
		width: 97%;
		margin-bottom: 1%;
	}
} 

/*FORMULARIO*/


.container-form {
	padding: 0 200px;
	margin: auto;

	.w-input {
		background-color: $bg-gray-light;
		width: 100%;
		margin-top: 15px;
		padding: 10px;
		border-radius: 5px;
		margin-top: 25px;
	}

	.textArea {
		width: 100%;
		background-color: $bg-gray-light;
		@include borders (2px, 0px, 0px,0px, $bg-gray-darken, $bg-gray-darken, $bg-gray-darken,$bg-gray-darken);
		height: 250px;
	  	padding: 2%;
	  	resize: none;
	  	margin: 30px 0;
	}

	.right {
		float: right;
		clear: both;
	}
	h2 {
		margin-top: 50px;
	}

	li {
		list-style: none;
	}

	ul {
		padding-left: 0;
	}

	label  {
		@include fWeight (normal);
	}
	.btn-black{
		background-color: $color-black;
		color: $color-white;
		text-transform: uppercase;
		padding:10px 80px;
		margin-bottom:30px;

	}

}



/*FOOTER*/

footer{

	.ft-logo {
		padding: 7% 0% 7% 10%;
	}
	.ft-big {
		background-color: $background-gray;
		padding-top: 2%;
	}
	.footer-menu {
		border-left: 1px solid $color-white;
	}
	.footer-menu a {
		display: block;
		font-size: 0.9em;
		color: $bg-gray-darken;
		padding-bottom: 1%;
		margin: auto;
	}


	.enlace {
		padding-bottom: 1%;
		margin: auto;
	}
	.enlace a {
		color: $bg-gray-darken;
		font-size: 12px;
		padding-right: 0.8%;
		border-right: 1px solid $bg-gray-darken;
	}
	.ft-small{
		background-color: $color-black;
		padding: 2% 0%;
	}
	.ft-small-text {
		color: $color-white;
		text-align: center;
	}
}

/*MEDIAQUERY*/
@media (max-width: 480px) {
	body {
		font-size: 12px;
	}
	.tema {
		padding: 1.5% 0%;
	}
}
/*RESPONSIVE TABLET*/
@media (min-width: 768px) and (max-width: 992px) {
	.container-form {
  		padding: 0 80px;
  	}
}
/*RESPONSIVE MOVILE*/
@media (max-width: 767px) {
	.container-form {
		margin: auto;
  		padding: 0 20px;
	}
	.right {
		float: none;
	}
	h1 , p {
		margin: auto;
		padding: 10px 20px;
	}
}
